@model IEnumerable<KLTN_E.ViewModels.HangHoaVM>
@{
    ViewData["Title"] = "Search";
    Layout = "_DanhSachHangHoa";
}


<div style="margin-bottom:44px">

    <h5>There are <b>@Model.Count()</b> products.</h5>
</div>
@await Html.PartialAsync("ProductItem", Model)