@* @model IEnumerable<KLTN_E.ViewModels.HangHoaVM> *@
@model KLTN_E.Models.PagedList<KLTN_E.ViewModels.HangHoaVM>
@{
    ViewData["Title"] = "Shop";
    Layout = "_DanhSachHangHoa";
}


<div style="margin-bottom:44px">

    @* <h5>There are <b>@Model.Count()</b> products.</h5> *@
</div>
@await Html.PartialAsync("ProductItem", Model)

<div class="product__pagination">
    @if (Model.TotalPages > 1)
    {
        <ul class="pagination">
            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <li class="@(i == Model.CurrentPage ? "active" : "")">
                    <a href="@Url.Action("Search", new { page = i, pageSize = Model.PageSize, query = ViewBag.Query })">@i</a>
                </li>
            }
        </ul>
    }
</div>