@model KLTN_E.Data.KhachHang

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container-fluid  dashboard-content">
    <div class="row">
        <!-- ============================================================== -->
        <!-- validation form -->
        <!-- ============================================================== -->
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card">
                <h5 class="card-header">

                    <a asp-action="Index" class="btn btn-dark">Back to List</a>

                </h5>
                <div class="card-body">
                    <form asp-controller="KhachHangs" asp-area="Admin" asp-action="Edit" enctype="multipart/form-data">
                        <div class="row">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="MaKh" />
                            <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 ">
                                <div class="form-group">
                                    <label asp-for="MaKh" class="control-label"></label>
                                    <input asp-for="MaKh" class="form-control" />
                                    <span asp-validation-for="MaKh" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 ">
                                <div class="form-group">
                                    <label asp-for="MatKhau" class="control-label"></label>
                                    <input asp-for="MatKhau" class="form-control" />
                                    <span asp-validation-for="MatKhau" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 ">
                                <div class="form-group">
                                    <label asp-for="HoTen" class="control-label"></label>
                                    <input asp-for="HoTen" class="form-control" />
                                    <span asp-validation-for="HoTen" class="text-danger"></span>
                                </div>

                            </div>
                            <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 ">
                                <div class="form-group">
                                    <label asp-for="DiaChi" class="control-label"></label>
                                    <input asp-for="DiaChi" class="form-control" />
                                    <span asp-validation-for="DiaChi" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 ">
                                <div class="form-group">
                                    <label asp-for="DienThoai" class="control-label"></label>
                                    <input asp-for="DienThoai" class="form-control" />
                                    <span asp-validation-for="DienThoai" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 ">
                                <div class="form-group">
                                    <label asp-for="Email" class="control-label"></label>
                                    <input asp-for="Email" class="form-control" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-xl-2 col-lg-4 col-md-12 col-sm-12 col-12 mb-2">
                                <div class="form-group">
                                    <label asp-for="VaiTro" class="control-label"></label>
                                    <input asp-for="VaiTro" class="form-control" />
                                    <span asp-validation-for="VaiTro" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-4 col-md-12 col-sm-12 col-12 mb-2">
                                <div class="form-group">
                                    <label asp-for="RandomKey" class="control-label"></label>
                                    <input asp-for="RandomKey" class="form-control" />
                                    <span asp-validation-for="RandomKey" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-4 col-md-12 col-sm-12 col-12 mb-2">
                                <div class="form-group">
                                    <label asp-for="NgaySinh" class="control-label"></label>
                                    <input asp-for="NgaySinh" type="date" class="form-control" />
                                    <span asp-validation-for="NgaySinh" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-4 col-md-12 col-sm-12 col-12 mb-2">
                                <div class="form-group">
                                    <label asp-for="Hinh" class="control-label"></label>
                                    <input asp-for="Hinh" name="hinhKH" type="file" class="form-control" />
                                    <img src="~/Hinh/KhachHang/@Model.Hinh" alt="img" width="100" height="100" style="border-radius:50%">
                                    <span asp-validation-for="RandomKey" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="form-group form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" asp-for="GioiTinh" /> @Html.DisplayNameFor(model => model.GioiTinh)
                                    </label>
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="form-group form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" asp-for="HieuLuc" /> @Html.DisplayNameFor(model => model.HieuLuc)
                                    </label>
                                </div>
                            </div>
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">

                                <input type="submit" value="Save" class="btn btn-primary" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end validation form -->
        <!-- ============================================================== -->
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
