@{
    ViewData["Title"] = "Reset password";
}
<div class="text-center">
    <h2>Reset password successful.</h2>
    <p>Click <a asp-action="DangNhap" asp-controller="KhachHang">here</a> to go back to the login page.</p>
</div>